body{
    color: white;
    font-family: 'Courier New', Courier, monospace;

}

header{
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
    list-style: none;
    margin: 10px;
    padding: 5px 5px;
    display: inline;
    color: #ffffff;
}

.left a{
    list-style: none;
    margin: 10px;
    padding: 5px 5px;
    display: inline;
    color: #ffffff;
}

.rigth {
    list-style: none;
    margin: 10px;
    padding: 5px 5px;
    display: inline;
    float: right;
    color: #ffffff;
} 
.rigth a{
    list-style: none;
    margin: 10px;
    padding: 5px 5px;
    display: inline;
    float: right;
    color: #ffffff;
}

a{
    text-decoration: none;
}

div{
    text-decoration: none;
    color: #ffffff;
}

img{
    height: 100px;
    width: 250px;
}

#flecha{
    height: 20px;
    width: 20px;
    float: right;
}

.links1 a{
    text-decoration: none;
    color: #000000;
    align-items: center;
    display: inline;
    float: right;
}

.links2 a{
    text-decoration: none;
    color: #000000;
    align-items: center;
    display: inline;
    float: left;
}